In [4]:
import pandas as pd

# List of Tuples
students = [('jack', 34, 'Sydeny'),
            ('Riti', 30, 'Delhi'),
            ('Aadi', 16, 'New York'),
            ('Riti', 30, 'Delhi'),
            ('Riti', 30, 'Delhi'),
            ('Riti', 30, 'Mumbai'),
            ('Aadi', 40, 'London'),
            ('Sachin', 30, 'Delhi')
            ]

In [5]:
dfObj = pd.DataFrame(students, columns=['Name', 'Age', 'City'])

In [7]:
duplicateRowsDF = dfObj[dfObj.duplicated(['Name'])]
duplicateRowsDF = dfObj[dfObj.duplicated(['Name'])]
print("Duplicate Rows based on a single column are:", duplicateRowsDF, sep='\n')

Duplicate Rows based on a single column are:
   Name  Age    City
3  Riti   30   Delhi
4  Riti   30   Delhi
5  Riti   30  Mumbai
6  Aadi   40  London